body {
  background-image: linear-gradient(#4e2720, #644848);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #d6d6ea;
}

.application-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

#track-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 0 1rem 0;
  font-size: 1.5rem;
}


#rewind, #forward {
  font-size: 3rem;
  color: #b2b2b2;
}

#play-pause {
  font-size: 4rem;
  color: #b2b2b2;
}

#play-pause:hover {
  color: #FFF;
}

#rewind:hover {
  color: #FFF;
}

#forward:hover {
  color: #FFF;
}

#container-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #222222;
  border: 1px solid #000;
}